.btn {
  color: var(--primary-white);
  background: rgb(69, 192, 190);
  background: linear-gradient(
    128deg,
    rgba(69, 192, 190, 1) 0%,
    rgba(54, 120, 119, 1) 100%
  );

  width: fit-content;
  padding: 5px 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--bold);
}
